*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    height: 100vh;
    color: #383838;
}
header{
    
    /* background-color: #383838; */
    color: aliceblue;
    align-items: center;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, .1);
    padding: 5px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    
    color: aliceblue;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}
a{
    color: #383838;
    text-decoration: none;

}

.logo__link{
    background-color: #383838;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit:cover;
    border-radius: 50%;
}
.logo{
    width: 100%;
    
}

img{
    width: 100%;
}
ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    
}
li{
        margin: 10px 10px;
}

.icon{
    display: inline-block;
    font-size: 25px;
    color: #383838;
    transition: .5s;
}
.icon:hover{
    color: black;
    transform: scale(1.2);
}

.pages{
    font-size: 20px;
    transition: .5s;
    border-bottom: 1px solid #fff;
}

.pages:hover{
    border-bottom: 1px solid #383838;
}

.btn_principal{
    background-color: #383838;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: white;
    transition: 0.5s;
    /* box-shadow: 0px 5px 80px rgba(0, 0, 0, .5); */
}
.btn_principal:hover{
    background-color: #000;
    transform: scale(1.2);
    
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    height: 90vh;
    width: 83%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner__content p{
    font-size: 20px
    
}

.banner__content h2{
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
}

.banner a{
    margin-top: 30px;
}

.banner li a{
    display: inline-block; 
    /* background-color: #000; */
    color: #383838;
    margin-top: 10px;
    transition: .5s;
}

.banner li a:hover{
    color: black;
    transform: scale(1.2);
}


.banner__box{
    /* right: -350px; */
    width: 300px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .1);
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    background-color: #eeeeee;
}

.banner__box img{
    position: relative;
    bottom: -10px;

}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    color: rgba(0, 0, 0, .5);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 80px;

}


